@import "styles/_variables.scss";

.galleryItem{
    margin-bottom: 16px;
    width: 42.77%;
    @media screen and (min-width: $min_tablet) {
            width: 46.50%;
        }
    
        @media screen and (min-width: $min_desktop) {
            width: 28.68%;
        }
    img{
        width: 100%;
        height: 100%;
    }
}