@import "styles/_variables.scss";

.heroSection{
    width: 100vw;
    height:256px;
    padding:0 5.56%;
    background-image: url(../../../images/main_mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
@media screen and (min-width: $min_tablet) {
    height: 529px;
    padding: 0 2.15%;
    background-image: url(../../../images/main_tablet.jpg);
}
@media screen and (min-width: $min_desktop) {
    height: 1024px;
    padding: 0 5.56%;
    background-image: url(../../../images/main.jpg);
}
}

.navContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    color: #FFF;
    @media screen and (min-width:$min_tablet) {
        padding-top: 40px;
    }
    @media screen and (min-width:$min_desktop) {
        padding-top: 69px;
    }
    h1{
        font-size: 14px;
        @media screen and (min-width: $min_tablet) {
            font-size: 28px;
        }
        @media screen and (min_width:$min_desktop){
            font-size: 40px;
        }
    }
    .navLinks{
        display: flex;
        margin-right: -10px;
        @media screen and (min-width: $min_tablet) {
                margin-right: -21px;
            }
        @media screen and (min-width: $min_desktop) {
                margin-right: -36px;
            }
        li{
            margin-right: 10px;
            font-size: 16px;
            @media screen and (min-width: $min_tablet) {
                margin-right: 21px;
                font-size: 18px;
                }
            @media screen and (min-width: $min_desktop) {
                margin-right: 36px;
                font-size: 32px;
            }
        }
    }
}