@import "styles/_variables.scss";

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5.56%;
    margin-bottom: -16px;
    padding-bottom: 24px;

    @media screen and (min-width: $min_tablet) {
        gap:2.68%;
        padding-bottom: 40px;
    }

    @media screen and (min-width: $min_desktop) {
        gap: 1.56%;
        padding-bottom: 96px;
    }
}