@import "styles/_variables.scss";

.gallery{
    display: grid; 
    grid-template-columns: 49% 49%;   
    gap: 16px;
    margin-bottom: 24px;
    @media screen and (min-width: $min_tablet) {
        grid-template-columns: 48% 48%;
        gap: 24px;
        margin-bottom: 40px;
    }
    @media screen and (min-width: $min_desktop) {
        grid-template-columns: 32% 32% 32%;
        gap: 30px;
        margin-bottom: 96px;
    }
}