@import "styles/_variables.scss";

.ourWorksSection{
    width: 100vw;
    padding: 16px 2.15% 16px 2.15%;
    padding-bottom: 40px;
@media screen and (min-width: $min_tablet) {
    padding-bottom: 32px;
}
@media screen and (min-width: $min_desktop) {
    padding: 80px;
    padding-bottom: 32px;
}
}

.footer{
    margin: 0 auto;
    width: 128px;
    @media screen and (min-width: $min_desktop) {
    width: 255px;
    }
}

.footerSocialsBox{
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}

.footerSocialIcon{
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: 100ms;
    @media screen and (min-width: $min_desktop) {
    width: 48px;
    height: 48px;
    }
    &:focus,
    &:hover{
        transform: scale(1.3);
    }
    
}

.footerText{
    color: #999;
    font-family: Istok Web;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media screen and (min-width: $min_desktop) {
    font-size: 32px;
    }
}