@import "styles/_variables.scss";

.aboutUsSectionContainer{
    position: relative;
    padding: 32px 5.56% 58px 5.56%;
    color: #999;
    @media screen and (min-width: $min_tablet){
        height: 344px;
        padding: 32px 2.15% 143px 2.15%;
    }
    @media screen and (min-width: $min_desktop) {
        padding: 288px 5.56% 500px 5.56%;
    }
    h2{
        font-size: 16px;
        font-family: "Inconsolata";
        margin-bottom: 10px;
        @media screen and (min-width: $min_tablet) {
            font-size: 24px;
            margin-bottom: 59px;
        }
        @media screen and (min-width: $min_desktop) {
            font-size: 40px;
            margin-bottom: 32px;
        }
    }
    p{
        width: 48.33%;
        font-size: 14px;
        font-family: "Homenaje";
        line-height: 140.1%;
        margin-left: auto;
        @media screen and (min-width: $min_tablet) {
            width: 43.75%;
        }
        @media screen and (min-width: $min_desktop) {
            font-size: 32px;
        }
    }
    img{
        position: absolute;
        // width: 17.22%;
        // height: 39.17%;
        width: 62px;
            height: 85px;
        top:46.08%;
        @media screen and (min-width: $min_tablet) {
            position: absolute;
            top:37.5%;
            left: 136px;
            // width: 17.34%;
            // height: 50.87%;
            width: 129px;
                height: 175px;
            
        }
                @media screen and (min-width: $min_desktop) {
                    position: absolute;
                    top:54.66%;
                    left: 264px;
                    width: 249px;
                    height: 338px;
        
                }
    }
}